<div class="page-heading-two">
  <div class="container">
    <div class="col-md-offset-1 col-md-2">
      <h2>Прогнозы</h2>
    </div>
    <div class="col-md-8">
      <ul class="nav nav-pills padding-top-7">
        <li class="active"><a class="no-padding" href="#">Все записи</a></li>
        <li><a class="no-padding" href="#">Подписки</a></li>
        <li><a class="no-padding" href="#">Популярные</a></li>
        <li><a data-toggle="collapse" data-target="#newPost" class="no-padding">Добавить запись</a></li>
      </ul>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
