<p-growl [(value)]="msgs"></p-growl>
<div *ngFor="let post of posts">
  <div *ngIf="isValid(post)" class="blog-one-item">
    <!-- blog One Img -->
    <div class="blog-one-img">
      <!-- Image -->

      <div *ngIf="post.imgurl">
        <a href="javascript:void(0)"><img src="post.imgurl" alt="" class="img-responsive img-thumbnail" /></a>
      </div>
      <div *ngIf="!post.imgurl">
        <a href="javascript:void(0)"><img src="/assets/img/user/unknown.png" alt="" class="img-responsive img-thumbnail" /></a>
      </div>

    </div>
    <!-- blog One Content -->
    <div class="blog-one-content">
      <!-- Heading -->
      <h3>{{post.user.name}} {{post.user.surname}} <span style="margin-left: 270px"><a><span *ngIf="hasRight(post)" class="fa fa-icon fa-trash-o"  (click)="deletePost(post.id)"  style="font-size: 1.1em; "></span></a>  <a><span *ngIf="false" class="fa fa-icon fa-edit" style="font-size: 1.1em;"></span></a></span></h3>
      <h4>{{post.title}}</h4>
      <p>{{post.content}}</p>
      <div class="blog-meta">
        <!-- Date -->
        <a href="javascript:void(0)"><i class="fa fa-calendar"></i> &nbsp; {{ post.createdAt | date:'medium'}}</a> &nbsp;

        <div class="pull-right">
          <a (click)="like(post, 1)"><i class="fa fa-chevron-up"></i></a> &nbsp;
          <a (click)="like(post, -1);"><i class="fa fa-chevron-down "></i></a> &nbsp;
          <a id="rating">{{countRating(post)}}</a>
        </div>
      </div>

    </div>
  </div>
</div>
